<br>
 <div class="container">
     <div class="row">
         <div class="col-12 azul">
 
             <div class="card">
                 <div class="card-body">
 
                     <h2> <i class="fas fa-archive fa-sm"></i> Cadastro de Produtos</h2><br>
                     
                     <!-- FILTROSSSSS NOME E CATEGORIA -->
                        <div class="row mb-4">

                            <div class="col-md-6">
                            <label for="nome">Buscar por Nome:</label>
                            <input type="text" class="form-control" id="nome" [(ngModel)]="nomeFiltro" (input)="buscarProdutos()" placeholder="Digite o nome do produto">
                            </div>
                        
                            <div class="col-md-6">
                            <label for="categoria">Filtrar por Categoria:</label>
                            <select class="form-select" id="categoria" [(ngModel)]="categoriaFiltro" (change)="buscarProdutos()">
                                <option value="">Todas as categorias</option>
                                @for (categoria of categoriasDisponiveis; track $index) {
                                <option [value]="categoria">{{categoria}}</option>
                                }
                            </select>
                            </div>
                        
                        </div>
  
 
                     <div class="alinharADireita">
                         <a href="admin/produtos/new" class="btn btn-success btn-rounded" mdbRippled>
                             <i class="fas fa-plus fa-sm"></i> Novo
                         </a>
                     </div>
 
 
                     <table class="table">
 
                         <thead>
                             <tr>
                                 <th scope="col">ID</th>
                                 <th scope="col">NOME</th>
                                 <th scope="col">QUANTIDADE</th>
                                 <th scope="col">PREÇO</th>
                                 <th scope="col">CATEGORIA</th>
                                 <th scope="col alinharADireita">AÇÕES</th>
                             </tr>
                         </thead>
                         <tbody>
                             @for (produto of lista; track $index) {
                             <tr>
                                 <td>{{produto.id}}</td>
                                 <td>{{produto.nome}}</td>
                                 <td>{{produto.quantidade }}</td>
                                 <td>{{produto.preco | currency:'BRL':'symbol':'1.2-2'}}</td>
                                 <td>{{produto.categoria }}</td>
                                 <td class="alinharADireita">
                                     <a href="admin/produtos/edit/{{produto.id}}" class="btn btn-primary btn-rounded"
                                         mdbRippled>
                                         <i class="fas fa-pencil fa-sm"></i>
                                     </a>
                                     <button (click)="delete(produto)" class="btn btn-danger btn-rounded" mdbRippled>
                                         <i class="fas fa-trash fa-sm"></i>
                                     </button>
                                 </td>
                             </tr>
                             }
 
                         </tbody>
                     </table>
 
                 </div>
             </div>
 
         </div>
     </div>
 </div>