<br />
<div class="container">
  <div class="row">
    <div class="col-4"></div>

    <div class="col-4">
      <div class="card">
        <div class="card-body centralizar">

          <h2>Cadastro de Clientes</h2>
          <br />

          <form #formulario="ngForm" (ngSubmit)="save()">

            <mdb-form-control>
              <input mdbInput type="text" name="nome" class="form-control" [(ngModel)]="cliente.nomeCliente" />
              <label mdbLabel class="form-label" for="nome">Nome do cliente</label>
            </mdb-form-control>
            <br>
            <mdb-form-control>
                <input mdbInput type="text" name="cpf" class="form-control" [(ngModel)]="cliente.cpf" />
                <label mdbLabel class="form-label" for="nome">CPF</label>
            </mdb-form-control>
            <br>
            <mdb-form-control>
                <input mdbInput type="text" name="celular" class="form-control" [(ngModel)]="cliente.celular" />
                <label mdbLabel class="form-label" for="nome">Celular</label>
            </mdb-form-control>
            <br>
            <mdb-form-control>
                <input mdbInput type="text" name="telefone" class="form-control" [(ngModel)]="cliente.telefone" />
                <label mdbLabel class="form-label" for="nome">Telefone</label>
            </mdb-form-control>
            <br>
            <mdb-form-control>
                <input mdbInput type="text" name="endereco" class="form-control" [(ngModel)]="cliente.endereco" />
                <label mdbLabel class="form-label" for="nome">Endereco</label>
            </mdb-form-control>
            <br>

            <div class="col-6"><br>
              <div class="input-group mb-3">
                @if(cliente.animais){
                  <div class="border w-100 p-2 text-primary"> @for (animais of cliente.animais; track $index) { 
                    <div>{{ animais.nomeAnimal }}</div>
                    }
                  </div>
                  
                <button (click)="buscarAnimal()" class="btn btn-secondary" type="button" mdbRipple
                  rippleColor="danger">
                  Trocar Animal
                </button>
                }@else{
                <div class="border w-100 p-2">Nenhuma animal selecionado!</div>
                <button (click)="buscarAnimal()" class="btn btn-secondary" type="button" mdbRipple
                  rippleColor="danger">
                  Buscar Animal
                </button>
                }
              </div>
            </div>

            <div class="col-6"><br>
              <select [compareWith]="compareId" class="form-control" name="animais" [(ngModel)]="cliente.animais">
                <option [value]="undefined">:: Outra forma de N para 1 aqui</option>
                @for (animais of listaAnimais; track $index) {
                <option [ngValue]="animais">{{animais.nomeAnimal}}</option>
                }
              </select>
            </div>

            @if(cliente.id > 0){
            <button type="submit" [disabled]="!formulario.valid" class="btn btn-success btn-rounded">
              <i class="fas fa-save fa-sm"></i> Atualizar
            </button>
            }@else {
            <button type="submit" [disabled]="!formulario.valid" class="btn btn-success btn-rounded">
              <i class="fas fa-save fa-sm"></i> Salvar
            </button>
            }

          </form>

        </div>
      </div>
    </div>

    <div class="col-4"></div>
  </div>
</div>

<ng-template #modalAnimaisList>
  <div class="modal-header">
    <h5 class="modal-title">Lista de Animais</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>

  <div class="modal-body">
    <div class="d-flex justify-content-end mb-2">
      <button class="btn btn-primary" (click)="novoAnimal()">+ Novo Animal</button>
    </div>

    <ul class="list-group">
      @if(listaAnimais.length > 0) {
        @for (animais of listaAnimais; track animais.id) {
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ animais.nomeAnimal }}</span>
            <button class="btn btn-sm btn-success" (click)="selecionarAnimal(animais)">
              Selecionar
            </button>
          </li>
        }
      } @else {
        <li class="list-group-item">Nenhum animal cadastrado.</li>
      }
    </ul>
  </div>
</ng-template>
